<template lang="pug">
  .appContainer 
    .startButton(v-if="!started$" @click="start")
      b-button(size="is-large") Start
      b-input(placeholder="I still miss...")
    .mainApp(v-if="started$")
      h1.bigText {{ currentRoom.video }}
      .audio
        audio(src="https://saffmastering.com/catchprichard/pass-02-lp/Catch%20Prichard%20[MASTERED%202]01.wav")
      <!-- section -->
      <!--   .messageForm.box(v-bind:style="formStyle" @mousedown="clickForm") -->
      <!--     .content -->
      <!--       b-field(message="What do you want to send to the world?", label="I still miss" label-position="on-border") -->
      <!--         b-input(placeholder="", v-model="newMessage" @keyup.enter="addMessage") -->
      <!--         p.control -->
      <!--           button.button.is-primary(type="submit", v-on:click="addMessage") Send -->
</template>

<script lang="ts">
import * as THREE from 'three'
import { intersectMessageClick$, nonIntersectClick$, intersectClick$, started$ } from './observables'
import { latLng, currentRoom, formOpen, distance, camera, start$ } from './subjects'
import { map, merge, scan } from 'rxjs/operators'
import { addMessage } from './firebase'
import formatRelative  from 'date-fns/formatRelative'

export default {
  subscriptions: () {
    const message = intersectMessageClick$.pipe(map(object => ({
      ...object.message
      createdAt: formatRelative(new Date(object.message.createdAt.seconds * 1000), new Date())
    }));

    const XYPosition = nonIntersectClick$.pipe(map(e => [e.layerX, e.layerY]))

    return {
      currentRoom,
      latLng,
      XYPosition,
      formOpen,
      started$
    }
  },
  data: () {
    return {
      newMessage: '',
    }
  },
  computed: {
    formStyle () {
      const vm = this
      // if (vm.XYPosition) {
        // return {
          // top: `${vm.XYPosition[1]}px`,
         //  left: `${vm.XYPosition[0]}px`
       //  }
      // }
      return {}
    }
  },
  mounted: () {
      // nonIntersectClick$.subscribe(() => formOpen.next(true)),
      // intersectClick$.subscribe(() => formOpen.next(false))
      start$.next(true)
  },
  methods: {
    addMessage (e)  {
      const vm = this

      const text = vm.newMessage && vm.newMessage.trim()


      // find a point in the distance based on current camera position and diresction
      var dist = 500;
      var cwd = new THREE.Vector3();
      camera.getWorldDirection(cwd);
      cwd.multiplyScalar(dist);
      cwd.add(camera.position);


      addMessage({
        roomId: vm.currentRoom.id,
        text,
        position: [cwd.x, cwd.y, cwd.z]
      }).then(() => {
      // close form
        // vm.formOpen.next(false)
      })

    },
    clickForm (e) {
      e.stopPropagation()
    },
    start: (e) {
      e.stopPropagation()
      start$.next(true)
    }
  },
}
</script>

<style lang="scss" scoped>
.appContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  .bigText {
    font-size: 72px;
    color: green;
  }
  .audio {
    position: absolute;
    bottom: 30px;
    right: 30px;
  }
  .messageForm {
    position: absolute;
    background-color: gainsboro;
    top: 30px;
    left: 30px;
  }
  .startButton {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    input {
      padding: 16px;
    }
  }
}
</style>
