html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="styles.scss")
    link(rel="stylesheet", href="https://cdn.materialdesignicons.com/5.3.45/css/materialdesignicons.min.css")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.2.0/css/all.css")
    title I Still Miss Teresa Benoit
    style.
      @import url('https://fonts.googleapis.com/css2?family=Texturina:wght@100;400&display=swap');
  body
    div(id="container")
    div(id="app")
    script(src="./main.ts")
